{% extends "base.html" %}
{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post" action="">
<fieldset>
    <legend>Enter new password</legend>
    {% if form.errors %}
    <div class="ui-widget" style="margin-bottom: 2em">
        <div style="padding: 0.7em; margin-bottom: 1em" class="ui-state-error ui-corner-all">
            {% if form.non_field_errors %}
            {{ form.non_field_errors|join:". " }} <br />
            {% endif %}
            Please correct any errors to continue.
        </div>
    </div>
    {% endif %}
    <table>
        {{ form }}
        <tr>
            <td colspan="2">
                <input type="submit" value="Update Password" />
            </td>
        </tr>
    </table>
</fieldset>
</form>

{% else %}

<h3>Password reset unsuccessful</h3>

<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}