{% extends "base.html" %}
{% block title %}Password change{% endblock %}
{% block account_heading %}{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Password change</legend>
        <p>
            Please enter your old password, for security's sake, and then enter your new 
            password twice so we can verify you typed it in correctly.
        </p>
    
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td>
                    <button class="positive button" type="submit">Change my password</button>
                </td>
            </tr>
        </table>
        
    </fieldset>
</form>
{% endblock %}